extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.my-4= t('views.users.header')
  .table-responsive  
    table.table.table-borderless.table-striped.mt-5
      thead
        tr
          th= t('views.users.id')
          th= t('views.users.name')
          th= t('views.users.email')
          th= t('views.users.createdAt')
          th= t('views.users.actions')
      tbody
        each user in users
          tr
            td= user.id
            td= `${user.firstName} ${user.lastName}`
            td= user.email
            td= formatDate(user.createdAt)
            td
              div.d-flex
                a.btn.btn-primary.me-1(href=`/users/${user.id}/edit`)= t('views.users.edit')
                form(action=`/users/${user.id}`, method='post')
                  input(name='_method', type='hidden', value='delete')
                  input(class='btn btn-danger' type='submit' value=t('views.users.delete'))
