extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.statuses.header')
  a.btn.btn-primary(href='statuses/new')= t('views.statuses.labels.createStatus')
  table.table.table-borderless.table-striped.mt-5
    thead
      tr
        th= t('views.statuses.labels.id')
        th= t('views.statuses.labels.name')
        th= t('views.statuses.labels.createdAt')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            div.d-flex
              a.btn.btn-primary.me-1(href=`/statuses/${status.id}/edit`)= t('views.statuses.labels.edit')
              form(action=`/statuses/${status.id}`, method='post')
                input(name='_method', type='hidden', value='delete')
                input(class='btn btn-danger' type='submit' value=t('views.statuses.labels.deleteStatus'))