extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.tasks.editPage.header')
  +formFor()(action=`/tasks/${task.id}` method='post')
    +floatingFormInput(task, 'name', errors, t('views.tasks.editPage.name'))(type="text")
    .mb-3
      label(for='data_description')= t('views.tasks.editPage.description')
      textarea.form-control(id='data_description' name='data[description]' rows='3')= task.description
    +select(task, 'statusId', errors, statuses, t('views.tasks.editPage.status'))
    +select(task, 'executorId', errors, users, t('views.tasks.editPage.executor'))
    +select(task, 'labels', errors, labels, t('views.tasks.editPage.labels'), true)
    input(name="_method" type="hidden" value="patch")
    +submit(task)(value=t('views.tasks.editPage.submit'))