extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.tasks.header')
  a.btn.btn-primary(href='tasks/new')= t('views.tasks.entities.createTask')
  .table-responsive
    table.table.table-borderless.table-striped.mt-5
      thead
        tr
          th= t('views.tasks.entities.id')
          th= t('views.tasks.entities.name')
          th= t('views.tasks.entities.status')
          th= t('views.tasks.entities.author')
          th= t('views.tasks.entities.executor')
          th= t('views.tasks.entities.createdAt')
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=`/tasks/${task.id}`)= task.name
            td= task.status.name
            td= `${task.author.firstName} ${task.author.lastName}`
            if task.executor
              td= `${task.executor.firstName} ${task.executor.lastName}`
            else
              td
            td= formatDate(task.createdAt)
            td
              div.d-flex
                a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)= t('views.tasks.entities.edit')
                form(action=`/tasks/${task.id}`, method='post')
                  input(name='_method', type='hidden', value='delete')
                  input(class='btn btn-danger' type='submit' value=t('views.tasks.entities.delete'))