extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.tasks.header')
  a.btn.btn-primary.mb-5(href='tasks/new')= t('views.tasks.createTask')
  .card.shadow-sm
    .card-body.p-4
      form(action='/tasks' method='get')
        .row
          .col-12.col-md
            +filterSelect('status', statuses, t('views.tasks.status'), query)
          .col-12.col-md
            +filterSelect('executor', users, t('views.tasks.executor'), query)
          .col-12.col-md
            +filterSelect('label', labels, t('views.tasks.label'), query)
        +checkBox('isUserCreator', t('views.tasks.isUserCreator'), query)
        input.btn.btn-primary(type='submit' value= t('views.tasks.submitFilter'))
            
          
          
  .table-responsive
    table.table.table-borderless.table-striped.mt-5
      thead
        tr
          th= t('views.tasks.id')
          th= t('views.tasks.name')
          th= t('views.tasks.status')
          th= t('views.tasks.author')
          th= t('views.tasks.executor')
          th= t('views.tasks.createdAt')
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=`/tasks/${task.id}`)= task.name
            td= task.status.name
            td= `${task.author.firstName} ${task.author.lastName}`
            if task.executor
              td= `${task.executor.firstName} ${task.executor.lastName}`
            else
              td
            td= formatDate(task.createdAt)
            td
              div.d-flex
                a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit')
                form(action=`/tasks/${task.id}`, method='post')
                  input(name='_method', type='hidden', value='delete')
                  input(class='btn btn-danger' type='submit' value=t('views.tasks.delete'))